<h3>New Post</h3>
  
<form action="<%= sub_posts_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="title">
  Title
  <input type="text" name="post[title]">
  </label>
  
  <label for="url">
  URL
  <input type="text" name="post[url]">
  </label>
  
  <label for="content">
  Content
  <input type="text" name="post[content]">
  </label>
  
  <input type="submit" value="It Begins">
</form>  